.checkbox-container {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    padding: 10px 0px;

    input[type="checkbox"] {
        width: 16px;
        height: 16px;
        flex-shrink: 0;
    }
}